certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.7
django-bootstrap4==2.3.1
django-bootstrap5==0.2.0
django-ckeditor==6.0.0
django-filter==2.4.0

django-js-asset==1.2.2
django-request==1.5.6
dominate==2.5.2

idna==2.10
itsdangerous==1.1.0

MarkupSafe==1.1.1

urllib3==1.26.2
Werkzeug==1.0.1
Pillow==8.1.2

