{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
<br><br><br>
    <div class="row">
        <div class="col-md white-space">
            <br><strong><span class="title-community"><i class="far fa-user-circle"></i> Change Password </span></strong>
        </div>
    </div>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}

    <table class="table">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="card">

                         <p><label for="id_old_password"><br>Current password</label>
                            <input type="password" name="old_password" class="form-control" maxlength="100"
                                   required id="id_old_password" placeholder="current password"></p>

                        <p><label for="id_new_password1">New password</label>
                            <input type="password" name="new_password1" class="form-control" maxlength="100"
                                   required id="id_new_password1" placeholder="new password"></p>

                        <p><label for="id_new_password2"> Confirm New password</label>
                            <input type="password" name="new_password2" class="form-control" maxlength="100"
                                   required id="id_new_password2" placeholder="confirm password"></p> <br/>

                        <div class="row justify-content-center">
                            <div class="col-sm-4 register">
                                <button class="btn page-active"> Change </button><br>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
    </table>
    </form>
</div>
</div>
</div>


{% endif %}
{% endblock %}
