{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == form.instance.id %}
<div class="container">
<br><br><br>
    <div class="row">
        <div class="col-md white-space">
            <br><strong><span class="title-community"><i class="far fa-user-circle"></i> Edit Profile </span></strong>
        </div>
    </div>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}

    <table class="table">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="card">
                                <p><label for="id_username"><br>Username</label> <input type="text" name="username"
                                    value="{{form.instance.username}}" class="form-control" maxlength="100" required id="id_username"></p>
                                <p><label for="id_password">Password</label> <div id="id_password">
                                 <a href="../change-password/"> Click Here to Change Password </a></p></div>
                                <p><label for="id_first_name">First name</label> <input type="text" name="first_name"
                                    value="{{form.instance.first_name}}"
                                    class="form-control" maxlength="100" required id="id_first_name"></p>
                                <p><label for="id_last_name">Last name</label> <input type="text" name="last_name"
                                    value="{{form.instance.last_name}}"  class="form-control" maxlength="100" required id="id_last_name"></p>
                                <p><label for="id_email">Email</label> <input type="email" name="email" value="{{form.instance.email}}"
                                    class="form-control" required id="id_email"></p> <br/>

                            <div class="row justify-content-center">
                            <div class="col-sm-4 register">
                                <button class="btn page-active"> Edit </button><br>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    </table>
    </form>
</div>
</div>


    {% endif %}
{% endif %}

{% endblock %}