{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}

<div class="container">
<h1> Edit Profile </h1>
    <div class="form-group">
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="gTWdDC1W9u6qniBY0E6tprkZoaM06Hh8EsyWw1CPGy3lsmbAdq0fUh0Gz1k5j7HT">

        <div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Edit Profile</h5>
				</div>
				<div class="card card-body table-responsive">
					<table class="table">
                        <p><label for="id_username">Username:</label> <input type="text" name="username" value="Admin" class="form-control" maxlength="100" required id="id_username"></p>
                        <p><label for="id_password">Password:</label> <div id="id_password">
                        </div> <a href="../change-password/"> Click Here</a></p>
                        <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" value="Dayeon" class="form-control" maxlength="100" required id="id_first_name"></p>
                        <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" value="Lee" class="form-control" maxlength="100" required id="id_last_name"></p>
                        <p><label for="id_email">Email:</label> <input type="email" name="email" value="iamdayeonlee@gmail.com" class="form-control" required id="id_email"></p> <br/>
                    </table>
                    <button class="btn btn-secondary btn-sm"> Edit  </button>
				</div>
            </div>
        </div>
    </form>
 </div>
</div>




{% endblock %}