{% extends 'base.html' %}
{% block title %} Introduction {% endblock %}

{% block content %}
<br><br><br>
<div class="container-fluid">
    <div class="container">
    <div class="row">
        <div class="col-md-6 white-space">
            <br><strong><span class="title-community">
            <i class="far fa-id-card"></i></i> Introduction </span></strong> <span> Purpose & Contact </span>
        </div>
        <div class="col-md-6">
        </div>
    </div>

      <div class="row justify-content-md-center">
      <div class="col-md-10">
        <br>
          <div class="card card-body ">
            <div class="row intro-container">
                  <div class="col-md">
                      <h5><i class="far fa-lightbulb"></i> Why I made this product</h5></div></div><br>
                  <div class="row">
                    <div class="col-sm-6 purpose-statement">
                    <br>
                        <h6>I am a self-taught Python and Django developer. <br><br>
                        Abundant tutorials on the internet greatly helped me to grow as a developer;
                        however, I often struggled with finding suitable ones and spent tons of time.<br><br>
                        Hence, I created a database of free tutorials. With my tips and search features,
                        I hope fellow learners can create the best curriculum for themselves to learn Python and Django!
                        <br><br>
                        </h6>
                    </div>
                    <div class="col-sm-6 features">
                    <br>
                       <div class="card card-body">
                        <div class="row">
                         <div class="col-md-4">
                           <i class="fas fa-search contact-icons"></i><br><br>
                           <h6> Filter and Search the free tutorials</h6>
                         </div>
                         <div class="col-md-4">
                           <i class="far fa-thumbs-up contact-icons"></i><br><br>
                           <h6> Best tutorials with time saving tips</h6>
                         </div>
                         <div class="col-md-4">
                           <i class="fas fa-edit contact-icons"></i><br><br>
                           <h6> Create your own curriculum</h6>
                         </div>
                        </div>
                       </div>
                       <br><br>
                    </div>
            </div>


            <div class="row intro-container">
                <div class="col-md">
                    <h5><i class="far fa-lightbulb"></i> Who am I?</h5>
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-6 intro-statement">
                     <h2> Dayeon Lee </h2>
                        <h6>Data-driven developer. <br><br>
                            I built web scrapers to automatically collect data as a digital marketer.
                            With my curiosity in problem-solving and analysing data, I naturally enjoyed programming.
                            <br><br>
                            I completed Python Bootcamp at Udemy.
                            Currently, I have been building web development projects using Django framework.<br><br>
                        </h6>
                </div>

        <div class="col-sm-6 ">
          <div class="card card-body past-experience">
              <div class="row">

                 <div class="col-sm year19">
                     <h6><strong>2019</strong></h6>
                      <img class="light-bulb" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/light-bulb_1f4a1.png" alt="2019">
                      <br><br>
                     <h6><strong>Digital Marketer<br>in Seoul</strong></h6>
                      <h6>I marketed various overseas brands online. </h6>
                 </div>

                 <div class="col-sm year20">
                      <h6><strong>2020...</strong></h6>
                      <img class="laptop_lady" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/woman-technologist_1f469-200d-1f4bb.png" alt="2020">
                      <br><br>
                      <h6><strong>Backend Developer<br>Anywhere!</strong></h6>
                      <h6>I specialised in Python and Django!</h6>
                 </div>
              </div>
           </div>
        </div>
      </div>
             <a href="https://linkedin.com/in/dyleee" target="_blank" class="btn btn-lg btn-warning goto-cv ">
                 <i class="fas fa-arrow-right"></i> Link to Resume/CV </a>
    </div>
</div>
      </div>
    </div>
    </div>
</div>

{% endblock content %}