{% extends 'base.html' %}
{% block title %} Tutorial Base {% endblock %}
{% block content %}

<br><br><br>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 white-space">
                <br><strong><span class="title-community">
                <i class="far fa-id-card"></i></i> Example </span></strong> <span>  </span>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
            <br>
              <div class="card card-body">
                 <div class="row">
                     <div class="col">
                        <img class="title-image" src="static/img/front-curriculum.gif" alt="gif">
                        <img class="title-image" src="static/img/curriculum.PNG" alt="photo">


                     </div>
                 </div>
                 <a href="https://linkedin.com/in/dyleee" target="_blank" class="btn btn-lg btn-warning goto-cv ">
                    <i class="fas fa-arrow-right"></i> Link to Resume/CV
                 </a>
              </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}