{% extends 'base.html' %}
{% block title %} Tutorial Detail {% endblock %}
{% block content %}

<br>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <div class="row justify-content-center">
                <div class="col col-md"><br>
                    {% if object.video != None %}
                      <iframe width="380" height="250" src="https://www.youtube.com/embed/{{object.video}}"
                       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                       gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% else %}
                    {% endif %}
                </div>
            </div>

            <br><br>
            <h2><strong>{{object.title}}</strong></h2>
        {% if user.is_authenticated %}
            <a href="{{ object.get_add_to_curriculum_url }}"
               class="btn page-active btn-md my-0 p" >&nbsp; Add to Curriculum &nbsp;
            </a>
        {% else%}
            <a href="{% url 'hub:register' %}"
               class="btn btn-warning btn-md my-0 p" >&nbsp; &nbsp; &nbsp; Create Account &nbsp; &nbsp; &nbsp;
            </a>

        {% endif %}
            <br><br>
            <a href="{% url 'hub:home' %}"
               class="btn btn-secondary btn-md my-0 p" >Back to Tutorial List
            </a><br>
        </div>
        <br>  <br>
            <h5 class="card-title"><strong><i class="fas fa-book"></i> Tutorial Information</strong></h5>
            <p class="card-text ">
                <div class="row">
                    <div class="col col-md-12 description ">
                          <br> <strong>Description</strong>
                        <br><br>{{object.description|linebreaksbr}} <br><br>
                        <strong>Topic:</strong>
                    {% for item in object.tags.all %}
                    {{item}}
                    {% endfor %}
                        <br><br> <strong>Difficulty:</strong> {{object.difficulty}}
                       <br><br> <strong>Instructor:</strong> {{object.instructor}}
                       <br><br> <strong>Last Updated:</strong> {{object.last_updated}}
                       <br><br> <strong>Language:</strong> {{object.language}}
                       <br><br> <strong>Duration:</strong> Average {{object.duration}} minutes
                       <br><br> <strong>Link:</strong> <a href="{{object.link}}">{{object.link}}</a>

                    </div>
                </div>
            </p>
            <br>
        </div>
    </div>
</div>

{% endblock content %}