{% extends 'base.html' %}
{% block title %} Update Goal {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == goal.user.id %}

<br><br><br>
    <div class="row">
        <div class="col-md white-space">
            <br><strong><span class="title-community"><i class="fas fa-bullseye"></i> Edit Study Goal </span></strong>
        </div>
    </div>
<br>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card card-body">
            <div class="form-group">
                 <div class="help-goal">
                     <ul class="helptext-goal">
                         <li>Set specific and measurable goals.
                         <li>Create an action plan and timeline.
                         <li>Choose a reward for yourself!
                         <br/>
                     </ul>
                 </div>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <pre>{{form.goal|safe}}</pre>
                    <a href="/curriculum-summary/" class="btn btn-secondary btn-md my-0 p"> Cancel </a>
                    <button class="btn page-active" type="submit"> Update </button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endif %}

{% endblock content %}

