{% extends 'base.html' %}
{% block title %} New Comment {% endblock %}

{% block content %}
<div class="container-fluid">
<br><br><br>
<div class="row">
    <div class="col-md-6 white-space">
        <br><strong><span class="title-community"><i class="far fa-comment"></i> Add Comment </span></strong>
        <span></span>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
           {% if user.is_authenticated %}
                {{ form.media }}
                {{ form.as_p }}
           {% else %}
                 {{ form.as_p }}
           {% endif %}
                <br/>
                <button class="btn btn-secondary"> Add Comment </button>
            </form>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    <script>
        var name = "{{ user.username }}";
        document.getElementById("users_id").value
                 = name;

    </script>
{% else %}
    <script>
        var name = "Anonymous User";
        document.getElementById("users_id").value
                 = name;

    </script>

{% endif %}
{% endblock %}